<div class="row mt-3 justify-content-center">
  <div class="col-10 col-lg-7">
    <h2>
      <button (click)="getTeamLogsData()" [disabled]="this.fetching" class="btn btn-outline-primary">Refresh</button>
      Leaderboard
    </h2>
  </div>
  <div class="col-2 col-lg-1 d-flex justify-content-end">
    <button (click)="clearTeamsLogs()" [disabled]="this.teamLeaderboard.length === 0" class="btn btn-outline-danger">Clear</button>
  </div>
</div>
<div class="row mb-3 justify-content-center">
  <div class="col col-12 col-lg-8">
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team name</th>
        <th scope="col">Auth time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teamLeaderboard; index as i ">
        <th scope="row">{{i+1}}</th>
        <td>{{team.name}}</td>
        <td>{{team.createdDate | date:'YYYY/MM/dd HH:mm:ss.SSS'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
