<form [formGroup]="myForm">
  <input type="text" placeholder="code" formControlName="code">
  <select formControlName="group">
    <option value="">Choose your group</option>
    <option value="Alpha">KB-20-1</option>
    <option value="Beta">FB-20-1</option>
    <option value="Charlie">CDB-20-1</option>
  </select>
<!--  [disabled]="myForm.invalid || submitBtnDisabled"-->
  <button (click)="submitBtnClick()">Submit</button>
</form>
<p *ngIf="comment">{{comment}}</p>
<p>Value: {{ myForm.value | json }}</p>
<table *ngIf="this.apiResult.length > 0">
  <tr *ngFor="let todo of this.apiResult">
    <td>{{ todo.userId }}</td>
    <td>{{ todo.id }}</td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.completed }}</td>
  </tr>
</table>

<!--<p>ApiResult: {{ apiResult | json }}</p>-->
